<div #asContentContract>
    <div id="htmlContent">
        <h2>Contrato</h2>
        
        <p>Nome contratante: <span id="nomeContratante">{{ this.nomeContratante }}</span></p>
        <p>Nome do contratado: <span  id="nomeContratado">{{ this.nomeContratado }}</span></p>
        <p>Valor do contrato: <span id="valorContrato">{{ this.valorContrato }}</span></p>
        
        <p>Lorem <b>{{this.nomeContratante}}</b> ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet  <b>{{this.valorContrato}}</b> consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
    </div>
</div>