<div id="htmlContent">
    <h2>Contrato</h2>

    <p>Nome contratante: {{ this.nomeContratante }}</p>
    <p>Nome do contratado: {{ this.nomeContratado }}</p>
    <p>Valor do contrato: {{ this.valorContrato }}</p>

    <p>Lorem <b>{{this.nomeContratante}}</b> ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
    <p>Lorem ipsum dolor sit amet  <b>{{this.valorContrato}}</b> consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
</div>