<div #asContentContract>
    <div id="divida" style="margin-top: 10px; width: 100%; height: 400px; overflow-y: auto; border-radius: 10px; padding: 10px; font-family: Arial, Helvetica, sans-serif;">
        <h2>Contrato</h2>
        
        <p>Nome contratante: <span #nomeContratante></span></p>
        <p>Nome do contratado: <span  #nomeContratado></span></p>
        <p>Valor do contrato: <span #valorContrato></span></p>
        
        <p>Lorem <b><span #nomeContratante></span></b> ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet  <b><span #valorContrato></span></b> consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore deserunt sit molestiae iusto corrupti facere pariatur modi dolores doloribus optio minima consequuntur, nihil iure quae voluptatum. Aut, quibusdam eligendi.</p>
    </div>
</div>